::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: #1cb6c7;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid black;
}
@font-face {
  font-family: "isep";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/isep.woff2") format("woff2"),
    url("/public/fonts/isep.woff") format("woff");
}

body {
  text-rendering: optimizeSpeed;
}
html {
  scroll-behavior: smooth;
}

.tooltip:hover .tooltip-item {
  visibility: visible;
}
.border-even:nth-child(2n) {
  background-color: #f5f3f0;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: spin 4s infinite;
}
