@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Isep:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: #1cb6c7;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid black;
}

body {
  font-family: "Raleway", sans-serif;
  text-rendering: optimizeSpeed;
  background-color: rgb(249 250 251);
}

html {
  scroll-snap-align: y mandatory;
  scroll-behavior: smooth;
}

.font-primary {
  font-family: "Isep", sans-serif;
}
.dark-mode {
  background-color: #171923;
  color: #d3d9df;
}